/*css dung chung*/
button, html, input, select, textarea {
    color: #37454d;
}
a{
	cursor: pointer;
}
.fade {
    transition: all 300ms linear 700ms;
    transform: translate3d(0,0,0);
    opacity: 1;
}
.fade.out {
    opacity: 0;
}
.pos-relative {
    position: relative;
}
.content-area{
	padding: 15px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    color: #37454d;
}
.center{
	text-align: center;
}
.btn-primary {
    background-color: #007fad;
    border: 1px solid #007fad;
    border-bottom: 1px solid #005f81;
}
.btn .button_label {
    display: inline-block;
    transform: translateX(0);
    transition: display .5s linear .5s,-webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s,display .5s linear .5s;
    transition: transform .5s linear 0s,display .5s linear .5s,-webkit-transform .5s linear 0s;
}
*, :after, :before, html {
    box-sizing: border-box;
}
.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 4px 0;
    padding: 13px 13px 11px;
    vertical-align: middle;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, textarea {
    padding: 0 12px;
}
input, select, textarea {
    background-color: #fff;
    border: 1px solid #9ba2a6;
    border-radius: 2px;
    color: #37454d;
    font-size: 16px;
    height: 44px;
    width: 100%;
}
.control-group.success .control-label, .control-group.success .help-block, .control-group.success .help-inline {
    color: #468847;
}
.control-group.success input, .control-group.success select, .control-group.success textarea {
    border-color: #468847;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.control-group.success .checkbox, .control-group.success .radio, .control-group.success input, .control-group.success select, .control-group.success textarea {
    color: #468847;
}
.control-group.error input, .control-group.error select, .control-group.error textarea {
    border-color: #b94a48;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
    color: #b94a48;
}
.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
    color: #b94a48;
}
.help-inline{
	display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
span.required_sys {
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 5px;
    line-height: 0;
    color: #ed3554;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 20px;
}
.control-group-hidden{
	display: none;
}
.flexbox {
    display: flex;
}
.db-field-row.flexbox span.required_sys:nth-child(2) {
    left: 48.3%;
}
/*head*/
.head_nav {
    display: flex;
    flex-direction: row-reverse;
}
/*danh sach bai viet*/
.db-main-search-listings #threads tr{
	box-shadow: 0 1px 4px rgba(41,51,57,.5);
    margin-bottom: 10px;
    background-color: #fff;
    display: block;
    border-radius: 2px;
}
.db-main-search-listings #threads tr >td {
    display: none;
}
.db-main-search-listings #threads td.threadItem{
	display: block;
	width: 100%;
	border: 0;
    border-radius: 2px;
    padding: 0;
}
.db-main-search-listings #threads td.discussionListItem {
    box-shadow: 0 1px 4px rgba(41,51,57,.5);
    background-color: #fff;
    position: relative;
    margin-bottom: 8px;
    color: #37454d;
}
.discussionListItem {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    color: #37454d;
}
.flexbox .item__image-area {
    -webkit-flex: 1 0 8%;
    -ms-flex: 1 0 8%;
    flex: 1 0 8%;
}
.item__image-area {
	float: left;
    margin: 8px 6px 8px 8px;
    width: 22.25%;
}
.flexbox .item__flex-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.item__flex-column {
    width: 77.75%;
}
.item__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    background-position: center!important;
    background-size: cover!important;
}
.item__details {
    width: 65%;
    margin: 8px 0;
    position: relative;
    clear: both;
    padding: 8px 8px 8px 4px;
    float: none;
}

.item__details > div {
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.25;
}
.item__name .name__copytext {
    font-size: 20px;
    width: 100%;
    color: #37454d;
    font-weight: bold;
}
.icon-rating{
	height:24px;
}
.item__info {
    font-size: 14px;
    color: #37454d;
    
}
.item__contact {
	width: 32.75%;
	float: left;
	margin: 8px 0;
    padding: 0 8px 0 4px;
    border-left: 1px solid #cdd0d2;
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item__contact .item__info {
    color: #66a400;
    font-weight: 600;
}
.item__info.price > span{
	display: block;
	font-size: 18px;
	line-height: 1;
    font-weight: 700;
}
.item__info .website{
	font-size: 12px;
}
}
.item__info.price .min-price{
	color: #66a400;
}
.item__info.price .max-price{
	color: #c94a30;
}
.db-search-sort-container {
    position: relative;
    display: flex;
    margin: 10px 0;
}
.dt-sort-row.single-select {
    display: flex;
    flex: 2 1 auto;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
/*trang chu*/
.bc-header-search-inner > form{
    display: flex;
    margin: 0px auto;
    max-width: 800px;
    height: 55px;
}
.bc-header-search-inner .bc-search-row {
    transition: background ease-in-out 0.2s;
    flex:2;
}
.bc-search-row.bc-button {
    flex: 1;
    text-align: center;
}

.bc-search-row.btn.btn-primary {
    background-color: #007fad;
    border: 1px solid #007fad;
    border-bottom: 1px solid #005f81;
    text-align: center;
    flex: 1;
    height: calc( 100% - 2px );
    margin: 0;
    margin-top: 1px;
    border-radius: 0 2px 2px 0;
}
input.bc-search-listing_name {
    top: -15px;
    position: relative;
    font-size: 13px;
}
.owl-carousel .owl-stage {
    margin-left: 2px;
}

.col-sm-12.cat_ites {
    margin: 10px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    border-bottom: 1px solid #ccc;
}

.bc-featured-listings-item-inner {
    border-radius: 2px;
    transition: box-shadow ease-in-out 0.2s;
    box-shadow: 0 1px 2px rgba(41,51,57,.5);
}

.bc-featured-listings-image {
    height: 203px;
    position: relative;
    background-color: #ccc;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
    display: block;
    margin: 0 -1px;
}
a.link_out {
    position: absolute;
    height: 100%;
    display: block;
    z-index: 99;
    width: 100%;
}
.owl-carousel.owl-drag .owl-item {
    z-index: 99;
}
.LoggedOut #respond{
	display: none;
}
span#vie_gia_min {
    position: absolute;
    right: 0;
    font-size: 12px;
}
span#vie_gia_max {
    position: absolute;
    right: 0;
    font-size: 12px;
}